<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ERROR!!!</title>
</head>
<body>
	<h1>Fill in the input correctly!</h1>
	<ul>HINT:
		<li>name- C.Ronaldo</li>
		<li>country- Portugal</li>
		<li>club- Real Madrid</li>
		<li>postion- (and one of them) 'CF','SS','LW','RW','CAM','LMF','CM','RMF','CDM','LB','RB','CB','GK'</li>
	</ul>		    
</body>
</html>